[data-cellid="grid_footcell_field"][data-page="centro_masterprint"][data-cellid="grid_footcell_field"][data-page="centro_masterprint"][data-cellid="grid_footcell_field"][data-page="centro_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="centro_masterprint"][data-cellid="grid_footcell_field1"][data-page="centro_masterprint"][data-cellid="grid_footcell_field1"][data-page="centro_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="centro_masterprint"][data-cellid="grid_footcell_field2"][data-page="centro_masterprint"][data-cellid="grid_footcell_field2"][data-page="centro_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="centro_masterprint"][data-cellid="grid_footcell_field3"][data-page="centro_masterprint"][data-cellid="grid_footcell_field3"][data-page="centro_masterprint"] {
  white-space: nowrap;
}
[data-page="centro_masterprint"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


