<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel laboratorio add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Nombre_Laboratorio_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nombre_Laboratorio}  r-vertical-field" 
	data-signal-error-for="Nombre_Laboratorio{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Nombre_Laboratorio" data-fieldname="Nombre_Laboratorio" >

	<label class="r-edit-label control-label" for="{$labelfor_Nombre_Laboratorio}">
		{BEGIN Nombre_Laboratorio_label}{$label laboratorio Nombre_Laboratorio }{END Nombre_Laboratorio_label}
	</label>
	<div class="r-edit-field">
		{$Nombre_Laboratorio_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nombre_Laboratorio" {$tooltipAttr laboratorio Nombre_Laboratorio } >
		<div class="text-muted" >
		{$tooltip laboratorio Nombre_Laboratorio }		</div>
	</div>
</div>


{END Nombre_Laboratorio_fieldblock}
											
{BEGIN Tipologia_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Tipologia}  r-vertical-field" 
	data-signal-error-for="Tipologia{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Tipologia" data-fieldname="Tipologia" >

	<label class="r-edit-label control-label" for="{$labelfor_Tipologia}">
		{BEGIN Tipologia_label}{$label laboratorio Tipologia }{END Tipologia_label}
	</label>
	<div class="r-edit-field">
		{$Tipologia_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Tipologia" {$tooltipAttr laboratorio Tipologia } >
		<div class="text-muted" >
		{$tooltip laboratorio Tipologia }		</div>
	</div>
</div>


{END Tipologia_fieldblock}
											
{BEGIN Descripcion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descripcion}  r-vertical-field" 
	data-signal-error-for="Descripcion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Descripcion" data-fieldname="Descripcion" >

	<label class="r-edit-label control-label" for="{$labelfor_Descripcion}">
		{BEGIN Descripcion_label}{$label laboratorio Descripcion }{END Descripcion_label}
	</label>
	<div class="r-edit-field">
		{$Descripcion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Descripcion" {$tooltipAttr laboratorio Descripcion } >
		<div class="text-muted" >
		{$tooltip laboratorio Descripcion }		</div>
	</div>
</div>


{END Descripcion_fieldblock}
											
{BEGIN Direccion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Direccion}  r-vertical-field" 
	data-signal-error-for="Direccion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Direccion" data-fieldname="Direccion" >

	<label class="r-edit-label control-label" for="{$labelfor_Direccion}">
		{BEGIN Direccion_label}{$label laboratorio Direccion }{END Direccion_label}
	</label>
	<div class="r-edit-field">
		{$Direccion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Direccion" {$tooltipAttr laboratorio Direccion } >
		<div class="text-muted" >
		{$tooltip laboratorio Direccion }		</div>
	</div>
</div>


{END Direccion_fieldblock}
											
{BEGIN Mision_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Mision}  r-vertical-field" 
	data-signal-error-for="Mision{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Mision" data-fieldname="Mision" >

	<label class="r-edit-label control-label" for="{$labelfor_Mision}">
		{BEGIN Mision_label}{$label laboratorio Mision }{END Mision_label}
	</label>
	<div class="r-edit-field">
		{$Mision_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Mision" {$tooltipAttr laboratorio Mision } >
		<div class="text-muted" >
		{$tooltip laboratorio Mision }		</div>
	</div>
</div>


{END Mision_fieldblock}
											
{BEGIN Vision_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Vision}  r-vertical-field" 
	data-signal-error-for="Vision{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Vision" data-fieldname="Vision" >

	<label class="r-edit-label control-label" for="{$labelfor_Vision}">
		{BEGIN Vision_label}{$label laboratorio Vision }{END Vision_label}
	</label>
	<div class="r-edit-field">
		{$Vision_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Vision" {$tooltipAttr laboratorio Vision } >
		<div class="text-muted" >
		{$tooltip laboratorio Vision }		</div>
	</div>
</div>


{END Vision_fieldblock}
											
{BEGIN fk_Codigo_Centro_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_Codigo_Centro}  r-vertical-field" 
	data-signal-error-for="fk_Codigo_Centro{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="fk_Codigo_Centro" data-fieldname="fk_Codigo_Centro" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_Codigo_Centro}">
		{BEGIN fk_Codigo_Centro_label}{$label laboratorio fk_Codigo_Centro }{END fk_Codigo_Centro_label}
	</label>
	<div class="r-edit-field">
		{$fk_Codigo_Centro_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_Codigo_Centro" {$tooltipAttr laboratorio fk_Codigo_Centro } >
		<div class="text-muted" >
		{$tooltip laboratorio fk_Codigo_Centro }		</div>
	</div>
</div>


{END fk_Codigo_Centro_fieldblock}
											
{BEGIN fk_id_User_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_id_User}  r-vertical-field" 
	data-signal-error-for="fk_id_User{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="fk_id_User" data-fieldname="fk_id_User" >

	<label class="r-edit-label control-label" for="{$labelfor_fk_id_User}">
		{BEGIN fk_id_User_label}{$label laboratorio fk_id_User }{END fk_id_User_label}
	</label>
	<div class="r-edit-field">
		{$fk_id_User_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="fk_id_User" {$tooltipAttr laboratorio fk_id_User } >
		<div class="text-muted" >
		{$tooltip laboratorio fk_id_User }		</div>
	</div>
</div>


{END fk_id_User_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
